Flask==0.10.1
Flask-SocketIO==0.4.3
Jinja2==2.7.3
RPi-AS3935==0.0.8
RPi.GPIO==0.5.8
Werkzeug==0.9.6
gevent==1.0.1
gevent-socketio==0.3.6
gevent-websocket==0.9.3
greenlet==0.4.5
itsdangerous==0.24
pygobject==3.8.2
